.main{
    height: 60px;
    width: 100%;
    background-color: crimson;
    position: absolute;
}
.log{
    width: 200px;
    margin-left: 120px;
    float: left;
    overflow: hidden;
}

.search{
    background-color: white;
    margin-left: 310px;
    width: 550px;
    height: 40px;
    margin-top: 10px;

}

.login{
    background-color: gold;
    width: 80px;
    margin-left: 900px;
}


.header{
    height: 50px;
    width: 100%;
    background-color: gray;
}
/*#dt{*/
/*    margin-left: 35%;*/
/*}*/

.search-container{
    margin-top: 30px;
    margin-bottom: 40px;
    height: 80px;
    width:90%;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
    background-color: cornflowerblue;
}

.data{
    background-color: red;
    width: 60%;
    margin-left: 20px;

}